   
   {{ register| json }}
   

     <div class="form-group">
    <label for="identification ">Identification</label>
    <input type="text" class="form-control" [(ngModel)]="register.identification"><br>
 
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)]="register.name"><br>
 
    <label for="telephone">Telephone</label>
    <input type="text" class="form-control" [(ngModel)]="register.telephone"><br>
 
    <label for="email">Email address</label>
    <input type="text" class="form-control" [(ngModel)]="register.email"><br>
  
    <label for="password">Password</label>
    <input type="text" class="form-control" [(ngModel)]="register.password"><br>
  
  <button class="btn btn-primary mb-2" (click)="save()">Save</button>
  <button class="btn btn-danger mb-2" (click)="showForm = false">Cancel</button>
</div>



